<!DOCTYPE html>
<html>
<body>

<form method="POST">
    <div class="container" id="Page1">
      <h1>Login</h1>
      <p>Please fill in this form to login your account.</p>
      <hr>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
  
      <label for="userpsw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="userpsw" required>
  
      <input type="submit" name="submit_login" value="Login">

      <a href="/register"><input type="button" value="Register" id="register-form-submit"></a>
    </div>
  </form>

</body>
</html>

